body {
    font-family: Arial, sans-serif;
    background-color: #34495e;
    margin: 0;
    padding: 0;
    color: #fff;
}

.container {
    text-align: center;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.quote-container {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
}

.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    outline: none;
    margin: 5px;
}

.btn:hover {
    background-color: #0056b3;
}
